div.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
	background-color: rgb(6,40,37);
	background-image: linear-gradient(0deg, rgba(6,40,37,1) 0%, rgba(25,12,65,1) 100%);
    color: rgb(117, 117, 117);
}

div.main {
    flex: 1;
}

#lighthouse-debug-info > p {
    margin-bottom: 1px;
}

canvas.photo-subjects {
    opacity: 1;
    transition: opacity 0.3s;
    pointer-events: none;
}

canvas.hide-subjects {
    opacity: 0;
    pointer-events: none;
}

/*#region Cards*/

.card {
    display: flex;
    width: 100%;
}

.cardIcon {
    margin-right: 10px;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    object-fit: cover;
}

.cardStats {
    height: fit-content;
    vertical-align: center;
    align-self: center
}

.cardStats > h1,
.cardStats > h2 {
    margin-bottom: 2px;
}

.cardButtons {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
}

.cardButtons > a {
    margin-bottom: 5px !important;
    vertical-align: center;
}

.cardStatsUnderTitle {
    margin-bottom: 10px;
}

div.cardStatsUnderTitle > i {
    margin-right: 2px;
}

div.cardStatsUnderTitle > span {
    margin-right: 5px;
}

/*#region Slot cards*/

.slotCardIcon {
    border-radius: 100%;
}

/*#endregion Slot cards*/

/*#region User cards*/

.userCardIcon {
    border-radius: .28571429rem;
}


/*#endregion User cards*/

/*#endregion Cards*/

/*#Start of Dark Mode style*/

body {
    background: #000;
    background: rgb(0 0 0);
}

div.ui.menu {
    background: #202020;
}

div.ui.attached.menu:not(.tabular) {
    border: 1px solid #000000;
}

div.ui.menu .item {
    -webkit-transition: background .4s ease, color .4s ease, -webkit-box-shadow .4s ease;
    transition: background .4s ease, color .4s ease, -webkit-box-shadow .4s ease;
    transition: background .4s ease, color .4s ease, -webkit-box-shadow .4s ease;
    transition: background .4s ease, color .4s ease, -webkit-box-shadow .4s ease;
	background: rgba(255,0,0,1);
	background-image: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,0,255,1) 50%, rgba(0,255,255,1) 100%); 
}

a {
    color: #cdcdcd;
    text-decoration: none;
}

div.ui.segment {
    background: #323232;
}

div.ui.input {
    color: rgb(0,0,0);
}
/*#End of Dark Mode style*/
