@page "/rules"
@model LBPUnion.ProjectLighthouse.Pages.Rules

@{
    Layout = "Layouts/BaseLayout";
    Model.Title = "Rules";
}
<h3>Rules are simple</h3>
<p>1. No pornographic, rasist, nazism etc.</p>
<p>2. Swearing is allowed if you're not using them every 10 seconds</p>
<p>3. Don't grief</p>